version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: todo-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: todo-appP.env
    ports:
      - "3005:3005"
    environment:
      PORT: 3005
      DATABASE_URL: "postgresql://postgres:password123@postgres:5432/mydb?schema=public"
    depends_on:
      - postgres

volumes:
  postgres_data:
